<div class="row">
    &nbsp;
</div>
<div class="well">
    <div class="container">
        <div class="pull-left">
            <p>because life is too short to remove the usb safely</p>
        </div>
        <div class="pull-right">
            <a href="https://www.facebook.com/kerti" target="_blank"><img src="/images/socmedlogos/fb.png" alt="my facebook" width="20px" height="20px" /></a>
            <a href="https://plus.google.com/u/0/101369083165868226564" target="_blank"><img src="/images/socmedlogos/gplus.png" alt="my google+" width="20px" height="20px" /></a>
            <a href="http://instagram.com/radityakertiyasa" target="_blank"><img src="/images/socmedlogos/instagram.png" alt="my instagram" width="20px" height="20px" /></a>
            <a href="https://twitter.com/asayitrek" target="_blank"><img src="/images/socmedlogos/twitter.png" alt="my twitter" width="25px" height="20px" /></a>
            <a href="http://blog.radityakertiyasa.com" target="_blank"><img src="/images/socmedlogos/wp.png" alt="my blog" width="20px" height="20px" /></a>
            &nbsp;&nbsp;&nbsp;
            <a href="https://github.com/kerti" target="_blank"><img src="/images/socmedlogos/github.png" alt="my github" width="20px" height="20px" /></a>
            <a href="http://id.linkedin.com/in/radityakertiyasa/" target="_blank"><img src="/images/socmedlogos/linkedin.png" alt="my linkedin" width="20px" height="20px" /></a>
        </div>
    </div>
</div>