<div class="well">
    <div class="container">
        <div class="pull-left">
            <p>because life is too short to remove the usb safely</p>
        </div>
        <div class="pull-right">
        	<a href="https://www.facebook.com/kerti" target="_blank"><img src="images/socmedlogos/fb.png" alt="my facebook" width="20px" height="20px" /></a>
        	<a href="https://plus.google.com/u/0/101369083165868226564" target="_blank"><img src="images/socmedlogos/gplus.png" alt="my google+" width="20px" height="20px" /></a>
        	<a href="http://instagram.com/radityakertiyasa" target="_blank"><img src="images/socmedlogos/instagram.png" alt="my instagram" width="20px" height="20px" /></a>
        	<a href="https://twitter.com/asayitrek" target="_blank"><img src="images/socmedlogos/twitter.png" alt="my twitter" width="25px" height="20px" /></a>
        	<a href="http://blog.radityakertiyasa.com" target="_blank"><img src="images/socmedlogos/wp.png" alt="my blog" width="20px" height="20px" /></a>
        	&nbsp;&nbsp;&nbsp;
        	<a href="https://github.com/kerti" target="_blank"><img src="images/socmedlogos/github.png" alt="my github" width="20px" height="20px" /></a>
        	<a href="http://id.linkedin.com/in/radityakertiyasa/" target="_blank"><img src="images/socmedlogos/linkedin.png" alt="my linkedin" width="20px" height="20px" /></a>
        </div>
    </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js scripts/plugins.js -->
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->