---
title: projects[at]radityakertiyasa[dot]com
---

<div class="jumbotron">
    <div class="container">
        <div class="row">
        <div class="col-md-2">
            <a class="thumbnail" href="#">
                <img src="../images/kerti.jpg" alt="me"></img>
            </a>
        </div>
        <div class="col-md-10">
            <h1>Hello!</h1>
            <p class="lead">
                Alright, you've found my hidden lair, where I retreat when I get bored doing my everyday routine. You
                won't find apps that can save the universe here, just simple playthings I mucker around to help me
                learn endlessly. 
            </p>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Featured Project</h3>
            <h1>PF Analyzer 2013</h1>
            <p>
                A simple program to help real estate developers in performing a simple but customized feasibility
                study. Bottom line: help them see how much potential the land has and how much money they can make
                out of it. 
            </p>
        </div>
    </div>
</div>