---
title: radityakertiyasa[dot]com
---
<div class="jumbotron">
    <div class="container">
        <div class="row">
        <div class="col-md-2">
            <a class="thumbnail" href="#">
                <img src="images/kerti.jpg" alt="me"></img>
            </a>
        </div>
        <div class="col-md-10">
            <h1>Hello!</h1>
            <p class="lead">
                You've found my cyber home! Please have a look around, links are here and there, or just read through
                below to get started.
            </p>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Featured Projects</h1>
            <p>
                I'm a programmer by training, and my job involves countless hours of gulping caffeine while smacking on
                my dear keyboard. As with any other programmer, I get bored a lot while waiting for my bosses to figure
                out how to do this and that. Then, I get bored some more while my work revolves around repetitive tasks
                and copy-and-paste routines. I need to think. A lot.
            </p>
            <p>
                Hence, this website, and all of its contents. This is me muckering around with whatever it is I can get
                my hands on. Mostly personal projects, but it <em>could</em> be of some use. Maybe. Well, whatever.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>This Website</h3>
            <p>
                I'm kidding, right? No. In fact, building this website has proven to be a complex task to me. Using
                NodeJS, Yeoman, Grunt, Bower, and a host of other open source frameworks has been educational to say
                the least.
            </p>
        </div>
        <div class="col-md-4">
            <h3>PFAnalyzer 2013</h3>
            <p>
                What does it stand for, you ask? Here it goes: Property Feasibility Analyzer. Sounds boring? Probably
                because it is from a programmer's standpoint. I mean, how complex can it be, right?
            </p>
            <p>
                <em>Wrong!</em>
            </p>
            <p>
                The focus of this endeavour is never not about calculations. It's about UX. User Experience. It's an
                experiment involving Windows Presentation Foundation, the Metro design language, and a multitude of
                libraries that support me while doing it. And I <em>gotta</em> tell you, it's complex alright.
            </p>
        </div>
    </div>
</div>